<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.a.JPetStore.web.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.a.JPetStore.web.servlets.VCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VProductServlet</servlet-name>
        <servlet-class>com.a.JPetStore.web.servlets.VProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>com.a.JPetStore.web.servlets.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VItemServlet</servlet-name>
        <servlet-class>com.a.JPetStore.web.servlets.VItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/vcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VProductServlet</servlet-name>
        <url-pattern>/vproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VItemServlet</servlet-name>
        <url-pattern>/vitem</url-pattern>
    </servlet-mapping>
</web-app>